.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: 1px solid red;
}
.message-error {
  color: red;
}
.btn-active {
  background-color: blue;
  color: beige;
  font-weight: bold;
}
.isDone {
  opacity: 0.5;
  /*text-decoration:line-through;*/
}
